<% @page_title = "Update Genre" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="genre new">
	<h2>Update Genre</h2>

	<%= form_for(:genre, :url => {:action => 'update', :id => @genre.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Update Genre") %>
		</div>
	<% end %>
</div>

