<div class="reviewPreview">
	  <hr />
	  <% if current_user != nil %>
	  <% if current_user.name == comment.user.name %>
	  <%= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close' %>
	  <% end %>
	  <% else %>
	  <% end %>
	  <small class="greenLink"><%= comment.user.name %></small><small> at <%= comment.updated_at.strftime("%B %d, %Y %H:%M") %> said:</small>
	  <div class="reviewText"><%= comment.body %></div>
</div>