<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Author delete">
	<h2>Delete Author</h2>

	
		<p>Are you sure you want to permanently delete this subject?</p>

		<p class="reference-name"><%= @author.name %></p>

		<div class="form-buttons">
			<%= button_to("Delete Author", { :action => 'destroy', :id => @author.id}, method: :delete, data: {confirm: 'Are you sure?'},  :class => 'btn btn-danger btn-lg') %>
		</div>
	<% end %>
</div>
