<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="author edit">
	<h2>Update Author</h2>

	<%= form_for(:author, :url => {:action => 'update', :id => @author.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>
		
		<div class="form-buttons">
			<%= submit_tag("Update Author") %>
		</div>
	<% end %>
</div>
