<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="author new">
	<h2>Create Author</h2>

	<%= form_for @author, :html => {:multipart => true} do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>
		
		<div class="form-buttons">
			<%= submit_tag("Create Author") %>
		</div>
	<% end %>
</div>
