<% @page_title = " Delete #{@event.name} ?" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="event delete">
	<h2>Delete Event</h2>

	<%= form_for(:event, :url => {:controller => 'events', :action => 'destroy', :id => @event.id}) do |f| %>
		<p>Are you sure you want to permanently delete this Event?</p>

		<p class="reference-name"><%= @event.name %></p>

		<div class="form-buttons">
			<%= submit_tag("Delete Event") %>
		</div>
	<% end %>
</div>
