<% @page_title = "New Event Creation" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="event new">
	<h2>Create Event</h2>

	<%= form_for @event, :html => {:multipart => true} do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Create Event") %>
		</div>
	<% end %>
</div>