<% @page_title = " Editing #{@book.name}" %>

<section class="brownBox" id="longRollers">
    <div class="container">
         <h2 class="green thin pull-left noTop">&larr;<%= link_to "Back to Book details", book_path(@book), :class => 'greenLink' %></h2>
           <div class="borderThick clearer"></div>
            <div class="addBookHold">

			<%= form_for @book, :html => {:multipart => true} do |f| %>

				<%= render(:partial => "form", :locals => {:f => f}) %>

				<div class="form-buttons">
				<%= submit_tag("Update This Book", :class => 'roundButton greenButton') %>
				</div>
			<% end %>
			</div>
	</div>      
</section>
