

/* --------------------------------------
   Layout
   -------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background: #569f89;
	color: #eee;
	font-size: 12px !important;
	padding: 20px;
	/*position: absolute;*/
  /*	bottom: 0;
  	width: 100%;
   Set the fixed height of the footer here 
  	height: 110px;
  	background-color: #f5f5f5;*/
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;	
  	 margin-bottom: 110px;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

.white {
    color: #ffffff;
  }

/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
	width: 200px;
}

.righted {
	text-align: right;
}

.hidden { display: none; }

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}


/* -----------------------------------
For Social Media Sharing buttons
-------------------------------------*/


nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/