<h3 class="centered green"> Donations</h3>

<p class="centered content">
Under Construction. Please go to our <%= link_to 'contact page', '/contact_us', :class => 'green' %> and send us a message and we will definitely get in touch with you. Thank you
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />